.App {
	animation: fadeInUp 2s ease-in-out;
	animation-delay: 100ms;
}

@keyframes fadeInUp {
	0% {
		transform: translateY(100vh);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

#hero {
	font-size: 7rem;
	font-weight: 500;
	text-align: center;
	padding: 2rem;
	padding-top: 4rem;
}

#content {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#content-svg {
	padding: 1rem;
}

#content-details {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#wheel1,
#wheel3 {
	transform-origin: center;
	transform-box: fill-box;
	animation: wheelturnclock 3s linear infinite;
}

#wheel2 {
	transform-origin: center;
	transform-box: fill-box;
	animation: wheelturncounterclock 3s linear infinite;
}

@keyframes wheelturncounterclock {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes wheelturnclock {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

#logos {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
}

.logo {
	margin: 1rem;
	height: 50px;
	width: 50px;
}

@media only screen and (min-width: 220px) {
	.logo {
		height: 80px;
		width: 80px;
	}
}

#comming-soon {
	text-align: center;
	margin: 1rem;
	font-weight: 100;
	font-size: 9rem;
	line-height: 9rem;
	font-family: 'Ubuntu', sans-serif;
}

.dots {
	display: none;
}

@media only screen and (min-width: 770px) {
	.dots {
		display: inline-block;
		border-radius: 50%;
		background-color: #63bcff;
		height: 1.5rem;
		width: 1.5rem;
		margin-top: 3rem;
		margin-right: 1rem;
		animation: scaling 1s ease-in-out 0ms infinite;
	}
}
@keyframes scaling {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

.dots:nth-child(2) {
	animation-delay: 0s;
}

.dots:nth-child(3) {
	animation-delay: 0.4s;
}

.dots:nth-child(4) {
	animation-delay: 0.8s;
}
