* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 5px;
	font-family: 'Vampiro One', cursive;
}

body {
	background-color: rgba(204, 204, 204);
}

@media only screen and (min-width: 400px) {
	* {
		font-size: 10px;
	}
}
